table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 0.75rem;
}

td,
th {
    width: 100%;
}

.mat-elevation-z8 {
    overflow: scroll;
}

.actionList {
    display: flex;
    align-items: center;
}